*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.peso-baixo{
    background-color: rgb(87, 152, 255);
    display: block;
    text-align: center;
    height: 50px;
    line-height: 50px;
    margin-top: 10px;
    color: white;
    font-size: 30px;
}
.peso-normal{
    background-color: rgb(0,98,255);
    display: block;
    text-align: center;
    height: 50px;
    line-height: 50px;
    margin-top: 10px;
    color: white;
    font-size: 30px;
}
.peso-obesidade1{
    background-color: rgb(229, 253, 12);
    display: block;
    text-align: center;
    height: 50px;
    line-height: 50px;
    margin-top: 10px;
    color: white;
    font-size: 30px;
}
.peso-obesidade2{
    background-color: rgb(253, 157, 12);
    display: block;
    text-align: center;
    height: 50px;
    line-height: 50px;
    margin-top: 10px;
    color: white;
    font-size: 30px;
}
.peso-obesidade3{
    background-color: rgb(253, 80, 12);
    display: block;
    text-align: center;
    height: 50px;
    line-height: 50px;
    margin-top: 10px;
    color: white;
    font-size: 30px;
}
.Error{
    background-color: rgb(255, 0, 0);
    display: block;
    text-align: center;
    height: 50px;
    line-height: 50px;
    margin-top: 10px;
    color: white;
    font-size: 30px;
}
.button{
    background-color: tomato;
}